# Python
__pycache__/
*.pyc
*.pyo
.venv/

# VSCode
.vscode/

# macOS
.DS_Store

# pytest
.cache/

# coverage
htmlcov/
.coverage
coverage.xml

# その他
*.log

# Vim
*.swp

# Backup files
*~

# Temp files
tmp/
